*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif
}
header{    
    height: 80px;
    background-color: rgb(255, 255, 255);
}
body{
    /* height: 700vh; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head{
    width: 100%;
    height: 20vh;
    background: #fff;
}
.first .head .container{
    width: 100%;
}
.head .first{
    width: 100%;
    height: 25px;
    background: #000;
}
.head .custom-row {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head .custom-row div a{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}
.head .custom-row div a:hover{
    border-bottom: 1px solid rgb(252, 252, 252);
}
.head .custom-row a b i{
    color: rgb(218, 218, 218);
    letter-spacing: 2px;
}
.end{
    height: 10px;
}
.head .middle{
    display: flex;
    justify-content: flex-end;
}
.head .middle ul{
    display: flex;
    color: rgb(0, 0, 0);

}
.head .middle ul li a{
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    margin: 7px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: lowercase;
}
.head .end .logo img{
    position: relative;
    width: 60px;
    height: 45px;
    margin-top: -70 px;
    margin-left: 40px;
    cursor: pointer;
}
.head .end .menu{
   align-items: center;
   display: flex;
   justify-content: center;
}
.head .end .menu ul{
    display: flex;
    margin-top: -30px;    
}
.head .end .menu ul li a{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 10px 16px;
    color: #000;
}
.head .end .menu ul li a:hover{
    border-bottom: 2px solid #000;
}
.head .end .search-box{
    display: flex;
    justify-content: space-around;   
} 
.head .end .search-box input{
    margin-top: -35px; 
    margin-left: 1100px;
    outline: none;
    border: none;
    color: #000;
    font-size: 22px;
    height: 30px;
    width: 194px;
    padding: 0 8px;
    display: flex;
    background: rgb(190, 190, 190);
}
.head .end .search-box span{
    font-size: 18px;
    bottom: 28px;
    left: 1265px;
    background: rgb(190, 190, 190);
    height: 30px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.head .end .search-box ul{
    display: flex;
    justify-content: space-around;
    margin-top: -40px; 
    gap: 15px;
    margin-right: 100px;
}
.head .end .search-box ul li a{    
    font-size: 22px;
    letter-spacing: 6px;
    color: #000;
}
main{
    background: url(/assets/image/bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}
.bg-line .text h1{
    color: #fff;
    position: absolute;
    bottom: 250px;
    left: 75px;
}
.bg-line .text p{
    color: #fff;
    width: 22%;
    position: absolute;
    bottom: 175px;
    font-size: 15px;
    left: 75px;
}
.bg-line .btn button{
    background: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 130px;
    left: 140px;
    height: 50px;
    width: 130px;
    text-transform: uppercase;
    box-shadow: rgba(34, 34, 34, 0.7) 5px 10px 10px 3px;
}
.bg-line .btn button:hover{
    background: #e2e2e2;
    transform: scale(1.1);
}
.text-line > h2{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
.text-line .custom-btn >button{
    text-align: center;
    margin: 15px;
    margin-left: 350px;
    text-transform: uppercase;
}
.text > a{
    margin: 10px 10px;
    margin-left: 2px;
    font-size: 14px;
    color: #000;
}
.text > a:hover{
    color: #fff;
    background-color: #000;
}
.cards-wrapper{
    display: flex;
    margin-top: 20px;
}
.card{
    margin: 0 .5em;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.card:hover,
span:hover
{
    border: 1px solid black;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}
.card > span{
    width: 30px;
    background-color: #fff;
    margin-top: -20px;
    margin-left: 10px;
}
.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
.image-wrapper>button{
    width: 2px;
    height: 2px;
}
.image-wrapper>button>i{
    position: absolute;
    top: 5%;
    left: 80%;
    background-color: #fff;
    
}
.card-body > p{
    font-size: 12px;
    margin-left: 5px;
}
.card-body > span{
    font-size: 10px;
    line-height: 5px    ;
}
.shose{
    width: 100%;
    position: relative;
}
.shose>div>span{
    margin-left: 120px;
    position: absolute;
    top: 85%;
    text-decoration: underline;
    border: none;
    color: #000;
}
.shose>div>span:hover{
    background-color: #000;
    color: #fff;
}
.card-item .container .shose div img{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 280px;
    height: 280px;
    padding: 10px;
} 
.card-item .container .text h1{
    margin-top: 40px;
}
.card-item .container .shose div > span{
    margin-top: 30px;
}
.card-item .container .shose img:hover{
    opacity: 0.8;
    transform: scale(1);
    overflow: hidden;
    object-fit: contain;
    cursor: pointer;
}
.slides .title > a > h2{
    font-size: 12px;
    margin-top: 20px;
    color: #000;
    font-style: italic;
    font-weight: bold;
    margin-left: 50px;
    padding-left: 55px;
}
.slides > .title > a{
    font-size: 12px;
    margin-top: 20px;
    color: #000;
    font-style: italic;
    font-weight: bold;
    margin-left: 50px;
    padding-left: 55px;
}
.owl-dots > button > span{
    width: 20px !important;
    height: 1px !important;
    background: #525252 !important;
    border-radius: 0 !important;
} 
.owl-dots > button.active > span{
    height: 5px !important;
    background: #666 !important;
}
.custom-item{
    position: relative;
}
.custom-item .item-two:hover, span:hover{
    border: 1px solid black;
}
.custom-item .item-two .img > button > i{
    position: absolute;
    left: 80%;
    top: 5%;
    background: #fff;
}
.custom-item .item-two .img >img{
    position: relative;
}
.custom-item .item-two > span{
    position: absolute;
    width: 30px;
    background-color: #fff;
    top: 60%;
}
.info{
    background-color: rgb(233, 233, 233);
    font-size: 14px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px 80px;
    height: 500px;
}
.column > h3{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 2px;
}
.column > p{
    margin-top: 40px;
    letter-spacing: 1px;
    font-size: 11px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  footer .desc{
      background: #f2e726;
      height: 150px;
      padding-top: 35px;
  }
  .desc h1{
      font-size: 30px;
      font-weight: 500;
      margin-top: 0px;
      margin-left: 250px;
  }
  .desc .btn button{
    background: rgb(0, 0, 0);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    bottom: 130px;
    margin-left: 750px;
    margin-top: -15px;
    height: 45px;
    width: 190px;
    align-self: center;
    text-transform: uppercase;
    box-shadow: rgba(34, 34, 34, 0.7) 5px 10px 10px 3px;
}
.desc .btn button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.footer ul h3{
    font-size: 20px; 
    font-weight: bold;   
}
.footer ul li a{
    text-decoration: none;
    color: #000;
    line-height: 5px;
    font-size: 12px;
}
.footer ul li a:hover{
    border-bottom: 1px solid #000;
}
.final{
    background: #666;
    height: 120px;
    padding-top: 35px;
    position: relative;
}
.final a{
    margin-left: 80px;
    background-color: rgb(211, 211, 211);
    text-decoration: none;
}
.final a i{
    margin: 8px;
    color: #111;
}
.final p{
    margin-left: 65px;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
}
.final .line > a{
    position: absolute;
    top: 30%;
    left: 50%;
}

@media screen and (max-width: 600px){
    header{
        float: none;
        display: block;
        text-align: left;
    }
    .head .end .logo{
        position: fixed;
    }
    .head .end ul{
        display: flex;
        flex-direction: column;background: #fff;
    }
    .head .end ul li{
        text-align: center;
    }
    .head .end ul li a{
        display: block;
        font-size: 25px;
        padding: 20px;
        color: #000;
    }
    .head .end .search-box{
        display: inline-block;
        width: 100%;
        justify-content: center;
        padding: 15px;
    }
    .head .end .search-box input{
        width: 90%;
    }
}